<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='pekeupload/css/themes/bootstrap/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css">
</head>

<body>
    {% for msg in get_flashed_messages() %}
    <article class="message is-info" id="info">
        <div class="message-header">
            <p>消息</p>
            <button class="delete" aria-label="delete"
                onclick="document.getElementById('info').style.display = 'none'"></button>
        </div>
        <div class="message-body">
            {{ msg }}
        </div>
    </article>
    {% endfor %}
    <form method="POST" action="/before-convert?" enctype="multipart/form-data" id="form">
        <input type="file" id="file" name="file">
        <br>
        <div class="select" class="select">
            <select name="select">
                {% for type in format_file %}
                {% if type=="markdown" %}
                <option selected id="{{ type }}" value="{{ type }}">{{ type }}</option>
                {% else %}
                <option id="{{ type }}" value="{{ type }}">{{ type }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <br><br>
        <input class="submit button is-primary is-link is-outlined is-rounded is-medium" type="submit" value="开始转换">
    </form>
</body>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='pekeupload/js/pekeUpload.min.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>

</html>